/*COMMON CSS*/

@font-face {
    font-family: mainFont;
    src: url(TradeWinds-Regular.ttf);
}

main {
    font-family: mainFont;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.cityDiv {
    background-color: black;
    width: 400px;
    height: 200px;
}

.cityDiv div {
    margin: 15px;
}

input {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid black;
}

/*COMMON CSS END!*/

/*CITIES LIST CSS*/

#citiesListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    height: 700px;
}

.cityBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

.deleteButton {
    background-color: rgb(128, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.deleteButton:hover {
    background-color: red;
    cursor: pointer;
    margin: 0 20px 2px 0;
    box-shadow: 5px 5px 5px rgb(148, 1, 1);
}

/*CITIES LIST CSS END!*/

/* ADD AND SEARCH CSS*/

.inputsDiv {
    background-color: aquamarine;
    height: 100px;
}

.inputsDiv div {
    padding-top: 10px;
}

.greenButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 179, 77);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
}

.greenButton:hover {
    background-color: rgb(157, 226, 178);
    box-shadow: 0px 0px 10px rgb(146, 144, 146);
    cursor: pointer;
}

#cityDiv2 {
    height: 450px; /*WROTE OVER LAST HEIGHT*/
}

#searchListDiv {
    height: 200px;
}

/* ADD AND SEARCH CSS END!*/